*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main {
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 12px;
}

.etherium-button {
  display: block;
  position: relative;
  cursor: pointer;
  border: none;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}
.etherium-button .equilibrium-image {
  display: block;
  width: 100%;
}

.etherium-button::before {
  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  transition: all 0.2s 0.2s linear;
  z-index: 10;
}

.etherium-button::after {
  background-color: hsl(216, 50%, 16%);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  transition: all 0.2s linear;
  z-index: 5;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8125rem;
}
.details .value {
  color: hsl(178, 100%, 50%);
  margin-right: 120px;
}
.details .clock {
  margin-left: 16px;
}
.details .date {
  color: hsl(215, 51%, 70%);
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: start;
  font-size: 0.8125rem;
}
.author img {
  border-radius: 50%;
  border: 1px double;
  margin-right: 10px;
}
.author span {
  color: hsl(216, 15%, 45%);
}
.author .author-name {
  color: hsl(0, 0%, 100%);
}

.line {
  background-color: hsl(215, 32%, 27%);
  padding: 1px;
  margin: 16px 0 16px 0;
  border-radius: 50%;
}

.main-heading {
  font-size: 1.125rem;
  margin: 16px 0 12px 0;
}

.description {
  color: hsl(216, 15%, 45%);
  margin: 0 0 16px 0;
}

.attribution {
  width: 100%;
  background-color: hsl(216, 50%, 16%);
  padding: 12px;
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 100%, 70%);
}

.active-state {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 150ms linear;
}

.active-state:hover {
  color: hsl(178, 100%, 50%);
}

.etherium-button:hover::before {
  opacity: 1;
}

.etherium-button:hover::after {
  opacity: 0.5;
  background-color: hsl(178, 100%, 50%);
}/*# sourceMappingURL=style.css.map */